<div class="container">
  <h1>Angular Assignments</h1>
  <div class="row">
    <h2>Assignment 7 - Reactive Forms</h2>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
          <form [formGroup]="projectForm" (ngSubmit)="onReactiveFormSubmit()">
            <div class="form-group">
              <label>Project Name</label>
              <input 
                type="text" 
                class="form-control" 
                formControlName="projectName" 
                [ngClass]="{'error-border': checkValidity('projectName')}"
              >
              <span class="invalid-feedback" *ngIf="checkValidity('projectName')">
                <p *ngIf="projectForm.get('projectName').hasError('required')">Please enter the project name.</p>
                <p *ngIf="projectForm.get('projectName').hasError('name_forbidden')">This project name is forbidden.</p>
              </span>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input 
                type="email" 
                class="form-control" 
                formControlName="email"
                [ngClass]="{'error-border': checkValidity('email')}"
              >
              <span class="invalid-feedback" *ngIf="checkValidity('email')">
                <p *ngIf="projectForm.get('email').hasError('email_forbidden'); else invalidEmailError">This email id is forbidden.</p>
                <ng-template #invalidEmailError>Please enter a valid email id.</ng-template>
              </span>
            </div>
            <div class="form-group">
              <label>Status</label>
              <select class="form-control" formControlName="status" [ngClass]="{'error-border': checkValidity('status')}">
                <option *ngFor="let opt of ddStatus" value="{{opt.val}}">{{opt.label}}</option>
              </select>
              <span class="invalid-feedback" *ngIf="checkValidity('status')">Please select a status</span>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" [disabled]="projectForm.invalid || projectForm.pending">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr>
    <h2>Assignment 6 - TD Forms</h2>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
          <form #f="ngForm" (ngSubmit)="frmTdSubmit()">
            <div class="form-group">
              <label for="projectName">Project Name</label>
              <input 
                id="projectName" type="text" class="form-control" 
                [ngClass]="{'error-border':  ipProjName.touched && ipProjName.invalid}" 
                name="projectName" ngModel required #ipProjName="ngModel"
              />
              <div class="invalid-feedback" *ngIf="ipProjName.touched && ipProjName.invalid">{{ipProjName.errors.errorMsg ||  "Enter a project name" }}</div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input id="email" type="text" class="form-control" 
              name="email" ngModel required email #ipEmail="ngModel"
              [ngClass]="{'error-border':  ipEmail.touched && ipEmail.invalid}"
            />
              <div class="invalid-feedback" *ngIf="ipEmail.touched && ipEmail.invalid">Enter a valid Email</div>
            </div>
            <div class="form-group">
              <label for="status">Project Status</label>
              <select 
                id="status" class="form-control" name="status" 
                #ddStatusRef="ngModel" ngModel required 
                [ngClass]="{'error-border':  ddStatusRef.touched && ddStatusRef.invalid}"  
              >
                <option *ngFor="let opt of ddStatus" value="{{opt.val}}">{{opt.label}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="ddStatusRef.touched && ddStatusRef.invalid">Select a status</div>
            </div>
            <button class="btn-primary btn" type="submit" [disabled]="f.invalid">Submit</button> 
          </form>
        </div>
      </div>
    </div>

    <hr />
    <h2>Assignment 5</h2>
    <div class="col-xl-12">
      <div class="row">
        <app-active-users></app-active-users>  
      </div>
      <div class="row">
        <app-inactive-users></app-inactive-users>
      </div>
    </div>

    <hr />
    <h2>Assignment 4</h2>
    <div class="col-xl-12">
      <div class="row">
        <app-game-control (gameStarted)="onGameStarted($event)"></app-game-control>
      </div>
      <div class="row">
        <div class="col-xl-6">
          <app-odd 
          *ngFor="let oddOP of gameOutput"
          [oddNumber]="oddOP"
          >
            <p class="odd" *ngIf="oddOP%2 !== 0">Odd no. - {{oddOP}}</p>
          </app-odd>
        </div>
        <div class="col-xl-6">
          <app-even
          *ngFor="let evenOP of gameOutput"
          [evenNumber]="evenOP"
          >
          <p class="even" *ngIf="evenOP%2 === 0">Even no. - {{evenOP}}</p>
          </app-even>
        </div>
      </div>
    </div>

    <hr />
    <h2>Assignment 3</h2>
    <div class="col-xl-12">
      <app-third-assignment ></app-third-assignment>
    </div>
    <hr />
    <h2>Assignment 2</h2>
    <div class="col-xl-12">
      <app-second-assignment></app-second-assignment>
    </div>
    <hr />
    <h2>Assignment 1</h2>
    <div class="col-xl-12">
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
    </div>
    <hr />
  </div>
</div>