<div class="container">
  <h1>Angular Assignments</h1>
  <div class="row">
    <h2>Assignment 3</h2>
    <div class="col-xl-12">
      <app-third-assignment></app-third-assignment>
    </div>
    <hr />
    <h2>Assignment 2</h2>
    <div class="col-xl-12">
      <app-second-assignment></app-second-assignment>
    </div>
    <hr />
    <h2>Assignment 1</h2>
    <div class="col-xl-12">
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
    </div>
    <hr />
  </div>
</div>